---
import Layout from "../layouts/Layout.astro";
import C_01_Navbar from "../components/C_01_Navbar.astro";
import C_02_Hero from "../components/C_02_Hero.astro";
import C_03_Descripcion from "../components/C_03_Descripcion.astro";
import C_04_Nosotros from "../components/C_04_Nosotros.astro";
import C_05_Sociales from "../components/C_05_Sociales.astro";
import C_06_Corporativos from "../components/C_06_Corporativos.astro";
import C_07_Exclusivos from "../components/C_07_Exclusivos.astro";
import C_08_0_Catering from "../components/C_08_0_Catering.astro";
import C_08_1_Catering from "../components/C_08_1_Catering.astro";
import C_09_0_Contacto_Form from "../components/C_09_0_Contacto_Form.astro";
import C_09_1_Contacto_Data from "../components/C_09_1_Contacto_Data.astro";
import C_09_2_Contacto_Map from "../components/C_09_2_Contacto_Map.astro";
---

<Layout title="">
	<main>
		<C_02_Hero />
		<C_03_Descripcion />
		<C_04_Nosotros />
		<C_05_Sociales />
		<C_06_Corporativos />
		<C_07_Exclusivos />
		<C_08_0_Catering />
		<C_08_1_Catering />
		<C_09_0_Contacto_Form />
		<C_09_1_Contacto_Data />
		<C_09_2_Contacto_Map />
	</main>
</Layout>

<style>

</style>
