---
import Layout from "../layouts/Layout.astro";
import C02Hero from "../components/C02Hero.astro";
import C03Descripcion from "../components/C03Descripcion.astro";
import C04Nosotros from "../components/C04Nosotros.astro";
import C05Sociales from "../components/C05Sociales.astro";
import C01Navbar from "../components/C01Navbar.astro";
---

<Layout title="">
	<main>
		<C02Hero />
		<C03Descripcion />
		<!-- <C04Nosotros /> -->
		<!-- <C05Sociales /> -->
	</main>
</Layout>

<style></style>
