---
import { Image } from "astro:assets";
import NavLogoA from "../assets/svg/NavLogoA.astro";
import MenuSvg from "../assets/svg/MenuSvg.astro";
import CloseSvg from "../assets/svg/CloseSvg.astro";
import FacebookSvg from "../assets/svg/FacebookSvg.astro";
import InstagramSvg from "../assets/svg/InstagramSvg.astro";
import { FramerReveal } from "./FramerReveal";
---

<FramerReveal
  className="header"
  options={{
    from: "top",
    amount: "20",
    margin: "0",
    tag: "header",
    delay: "0.5",
  }}
  client:visible
>
  <i class="logo_container"><NavLogoA /></i>

  <input type="checkbox" id="hamb" class="hamb" />
  <label for="hamb" class="icons">
    <i class="menu"><MenuSvg /></i>
    <i class="close"><CloseSvg /></i>
  </label>

  <nav>
    <ul class="navList">
      <li style={{ "--i": "0" }}>
        <a href="#inicio" title="inicio">INICIO</a>
      </li>
      <li style={{ "--i": "1" }}>
        <a href="#nosotros" title="nosotros">NOSOTROS</a>
      </li>
      <li style={{ "--i": "2" }}>
        <a href="#sociales" title="sociales">SOCIALES</a>
      </li>
      <li style={{ "--i": "3" }}>
        <a href="#corporativos" title="corporativos">CORPORATIVOS</a>
      </li>
      <li style={{ "--i": "4" }}>
        <a href="#catering" title="catering">CATERING</a>
      </li>
      <li style={{ "--i": "5" }}>
        <a href="#contacto" title="contacto">CONTACTO</a>
      </li>
    </ul>
  </nav>

  <div class="socials">
    <a
      href="https://www.instagram.com/punto.alem/"
      target="_blank"
      title="instagram_de_la_empresa"
    >
      <InstagramSvg />
    </a>
    <a
      href="https://www.facebook.com/Puntoalemeventos"
      target="_blank"
      title="facebook_de_la_empresa"
    >
      <FacebookSvg />
    </a>
  </div>
</FramerReveal>

<style>
  .logo_container {
    width: 1.5rem;
    height: 1.5rem;
  }

  .socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: calc(var(--navbar-desktop-height) - 0.5rem);
  }

  .socials a {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 2rem;
    height: 2rem;
  }

  .navList {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .navList li {
    color: var(--gold);
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 0.75rem;
    transition:
      color 0.35s ease,
      background 0.35s ease;
    border-radius: 0.5rem;
  }

  .navList li:hover {
    color: var(--blue);
    background: var(--gold);
  }

  .icons {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    color: var(--gold);
  }
  .hamb {
    display: none;
  }
  .menu {
    width: 3.5rem;
    height: 3.5rem;
  }
  .close {
    display: none;
    color: var(--gold);
    width: 3.5rem;
    height: 3.5rem;
  }

  .navList {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
  }

  @media (max-width: 760px) {
    .logo_container {
      width: 3rem;
      height: 3rem;
    }

    .icons {
      display: flex;
    }

    .hamb:checked ~ .icons .menu {
      display: none;
    }

    .hamb:checked ~ .icons .close {
      display: block;
    }

    .navList {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 50vh;
      height: 0;
      gap: 1rem;
      transition: 0.3s ease;
      overflow: hidden;
    }

    .hamb:checked ~ nav .navList {
      background: var(--blue);
      height: 50vh;
    }

    .navList li {
      width: 100%;
      text-align: center;
      transform: translateX(-100%);
      transition: 0.3s ease;
      opacity: 0;
      font-size: 2rem;
    }

    .hamb:checked ~ nav .navList li {
      transform: translateX(0%);
      opacity: 1;
      transition-delay: calc(0.15s * var(--i));
    }
    .socials a {
      width: 4rem;
      height: 4rem;
    }
  }
</style>
