---
import { Image } from "astro:assets";
import fotos from "../constant";
import { FramerReveal } from "./FramerReveal";
---

<section class="nosotros" id="nosotros">
  <div class="wrapper">
    <FramerReveal
      className="nosotros_text_container"
      options={{ from: "left" }}
      client:visible
    >
      <h3 class="title">Nosotros</h3>
      <p>
        Nos dedicamos a la organización de eventos sociales y corporativos, con
        una trayectoria de más de 20 años de experiencia.
      </p>
      <p>
        Ofrecemos un servicio integral, de calidad y personalizado, respaldado
        por una organización sólida y comprometida que garantiza seguridad y
        tranquilidad para que nuestros clientes puedan disfrutar de su evento
        sin preocuparse por nada.
      </p>
      <p>
        Nos caracterizamos por la búsqueda constante de propuestas innovadoras,
        poniendo a disposición nuestra creatividad, responsabilidad y
        experiencia.
      </p>
    </FramerReveal>

    <FramerReveal className="" options={{ from: "right" }} client:visible>
      <Image
        class="image"
        src={fotos["03"].src}
        alt={fotos["03"].alt}
        title={fotos["03"].title}
        width="1000"
        height="800"
      />
    </FramerReveal>
  </div>
</section>

<style>
  .image {
    width: auto;
    height: 55vh;
  }

  .nosotros {
    height: calc(100vh - var(--navbar-desktop-height));
    display: grid;
    place-items: center;
  }

  .wrapper {
    display: flex;
    /* transform: translateX(3.5rem); */
    gap: 2rem;
  }

  .title {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 1.25rem;
    line-height: 1.4;
    color: var(--gold);
  }

  p {
    color: var(--blue);
    line-height: 2;
    font-weight: 400;
    font-size: 1rem;
  }

  p + p {
    margin-top: 1rem;
  }

  @media (max-width: 760px) {
    .nosotros {
      margin-top: 8rem;
    }

    .wrapper {
      flex-direction: column;
      align-items: center;
      width: 100vw;
      margin-top: 4rem;
    }

    .image {
      width: 100%;
      height: 40vh;
    }

    .text_container {
      width: 90%;
      margin-bottom: 3rem;
      padding: 0;
    }

    .nosotros .title {
      font-size: 2rem;
      /* font-weight: 400; */
    }

    .nosotros p {
      font-size: 1.25rem;
      /* line-height: 1.75; */
    }
  }
</style>
