---
import { Image } from "astro:assets";
import fotos from "../constant";
import { FramerReveal } from "./FramerReveal";
---

<section class="sociales" id="sociales">
  <div class="image_container">
    <Image
      class="image"
      src={fotos["04"].src}
      alt={fotos["04"].alt}
      title={fotos["04"].title}
      width="1000"
      height="800"
    />
  </div>
  <FramerReveal
    className="sociales_text_container"
    options={{ from: "right" }}
    client:visible
  >
    <h3 class="title">Sociales</h3>
    <p>
      Punto Alem es el lugar para vivir tu evento soñado. Podrás disfrutar de
      las más variadas celebraciones: desde casamientos, fiestas de quince hasta
      Bar Mitzvah, aniversarios, cumpleaños. Cualquier evento se convierte en un
      momento lleno de magia.
    </p>
    <p>
      El jardín te ofrece un espacio al aire libre y natural, donde podrás
      respirar aire fresco y disfrutar del verde. Árboles, plantas y luces crean
      un ambiente mágico, que hará que tu evento sea inolvidable y muy especial.
      Ademá contamos con un ambiente especial ambientado para celebrar bodas.
    </p>
  </FramerReveal>
</section>

<style>
  .sociales {
    position: relative;
    height: calc(100vh - var(--navbar-desktop-height));
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .title {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 1.25rem;
    color: white;
    line-height: 1.4;
  }

  p {
    color: white;
    line-height: 2;
    font-weight: 400;
    font-size: 1rem;
  }

  p + p {
    margin-top: 1rem;
  }

  .image_container {
    height: calc(100vh - var(--navbar-desktop-height));
    width: 100vw;
  }

  .image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
  }

  @media (max-width: 760px) {
    .sociales {
      margin-top: 30rem;
    }

    .text_container {
      width: 90vw;
      left: 5vw;
      top: 20%;
      padding: 2rem;
    }

    .sociales .title {
      font-size: 2rem;
      /* font-weight: 400; */
    }

    .sociales p {
      font-size: 1.25rem;
      /* line-height: 1.75; */
    }
  }
</style>
