---
import { Image } from "astro:assets";
import fotos from "../constant";
import { FramerReveal } from "./FramerReveal";
---

<section id="catering">
      <FramerReveal 
      className="catering_text_container"
      options={{from: "left"}}
      client:visible
      >
        <h3 class="title">Catering único y especial</h3>
        <p>Sorprender a tus invitados con un servicio gastronómico de primera clase. Nuestros chefs preparan platos únicos con elaboración propia y excelente calidad. Podrás degustar sabores exquisitos, desde entradas caliente y fría, tapeos, platos principales exclusivos, hasta los más finos y dulces postres y tortas.</p>
        <p>Elaboramos comida al aire libre, nuestros servicios te brindaran la posibilidad de probar nuestro mejor catering también en exteriores.</p>
        <p>Además, te ofrecemos un servicio de bartender, que te preparará los mejores y mas ricos tragos. Acompañado siempre por nuestro servicio de mozos, que atenderá de la mejor manera y profesionalismo.</p>
      </FramerReveal>
      <FramerReveal
        className="catering_image_container" 
        options={{from: "right"}}
        client:visible
      >
        <Image 
          class="image1" 
          src={fotos["07"].src} 
          alt={fotos["07"].alt}
          title={fotos["07"].title}
          width=1000
          height=800
        />
      </FramerReveal>

</section>

<style>
  #catering {
  margin-top: 10rem;
  height: calc(100vh - var(--navbar-desktop-height));
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5rem;
}

.title {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 1.25rem;
  line-height: 2;
  color: var(--gold);
}

p {
  color: var(--blue);
  line-height: 2;
  font-weight: 400;
  font-size: 1rem;
}

p+p {
  margin-top: 1rem;
}

.image1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



@media (max-width: 760px) {
  .catering {
    margin-top: 8rem;
    overflow: hidden;
    flex-direction: column;
    height: max-content;
  }

  .text_container {
    width: 90%;
    margin-bottom: 3rem;
    padding: 2rem;
  }

  .title {
    font-size: 2rem;
  }

  p {
    font-size: 1.25rem;
  }

  .image_container {
    width: 100vw;
    height: 40vh;
  }
}
</style>