---
import { Image } from "astro:assets";
import fotos from "../constant";
import { FramerReveal } from "./FramerReveal";
import MapPinSvg from "../assets/svg/MapPinSvg.astro";
import PhoneSvg from "../assets/svg/PhoneSvg.astro";
import MailSvg from "../assets/svg/MailSvg.astro";
import FacebookSvg from "../assets/svg/FacebookSvg.astro";
import InstagramSvg from "../assets/svg/InstagramSvg.astro";

const datas = {}

---

<section class="section_data">

  <FramerReveal
    className="contacto_data_item"
    options={{from: "bottom", amount:"60", margin: "-20", delay: "0"}}
    client:visible
  >
    <a 
      class="icon"
      href="https://maps.app.goo.gl/FuTkt3hptixiTBSw5" 
      title="maps_location" 
      target="_blank"
    >
      <MapPinSvg />
    </a>
    <h3 class="title">Ubicanos</h3>
    <div>
      <p>Av Leandro N Alem 862,</p>
      <p>Bahía Blanca CP 8000,</p>
      <p>LoBuenos Airesem</p>
    </div>
  </FramerReveal>

  <FramerReveal
    className="contacto_data_item"
    options={{from: "bottom", amount:"60", margin: "-20", delay: "0.25"}}
    client:visible
  >
    <a 
      class="icon" 
      href="https://wa.me/+5492914054505" 
      title="maps_location" 
      target="_blank"
    >
      <PhoneSvg />
    </a>
    <h3 class="title">Llamanos</h3>
    <div>
      <p>
        <a 
        href="https://wa.me/+5492914054505" 
        title="maps_location" 
        target="_blank"
        >
          291 - 4054505
        </a>
      </p>
    </div>
  </FramerReveal>

  <FramerReveal
    className="contacto_data_item"
    options={{from: "bottom", amount:"60", margin: "-20", delay: "0.5"}}
    client:visible
  >
    <a 
      class="mail_icon" 
      href="https://mail.google.com/mail/u/0/?fs=1&to=info@puntoalemeventos.com&su=&body=&bcc=&tf=cm" 
      title="maps_location" 
      target="_blank"
    >
      <MailSvg />
    </a>
    <h3 class="title">Escribinos</h3>
    <div>
      <p>
        <a 
          href="https://mail.google.com/mail/u/0/?fs=1&to=info@puntoalemeventos.com&su=&body=&bcc=&tf=cm"
          target="_blank" 
          title="mail_de_la_empresa"
        >
          info@puntoalemeventos.com
        </a>
      </p>
    </div>
  </FramerReveal>

  <FramerReveal
    className="contacto_data_item"
    options={{from: "bottom", amount:"60", margin: "-20", delay: "0.75"}}
    client:visible
  >
    <div class="socials">
      <a 
        class="icon"
        href="https://www.instagram.com/punto.alem/" 
        title="maps_location" 
        target="_blank"
      >
        <InstagramSvg />
      </a>
      <a 
        class="icon" 
        href="https://www.facebook.com/Puntoalemeventos" 
        title="maps_location" 
        target="_blank"
      >
        <FacebookSvg />
      </a>
    </div>
    <h3 class="title">Seguinos</h3>
    <div>
      <p>
        <a 
          href="https://www.instagram.com/punto.alem/" 
          target="_blank" 
          title="instagram_de_la_empresa"
        >
          /punto.alem
        </a>
      </p>

      <p>
        <a 
          href="https://www.facebook.com/Puntoalemeventos" 
          target="_blank" 
          title="facebook_de_la_empresa"
        >
          /Puntoalemeventos
        </a>
      </p>
    </div>
  </FramerReveal>

</section>

<style>
  .section_data {
    display: flex;
    justify-content: center;
    gap: 7vw;
    padding: 10rem 0;
    color: var(--blue);
  }
  .icon {
    width: 3.75rem;
    height: 3.5rem;
    display: grid;
    place-items: center;
  }
  .mail_icon {
    width: 3.75rem;
    height: 3.5rem;
    display: grid;
    place-items: center;
    padding: 0.25rem 0;
  }
  .socials {
    display: flex;
}
.title {
  font-size: 2rem;
  font-weight: 400;
  color: var(--gold);
}

p {
  text-align: center;
  font-weight: 400;
  line-height: 2;
  font-size: 1rem;
}

a {
  padding: 0 0.5rem;
  transition: color 0.35s ease, background 0.35s ease;
  border-radius: 1rem;
}

a:hover {
  background: var(--blue);
  color: var(--light-gold);
}
</style>