<section class="footer">
  <a 
    href="https://www.w3schools.com" 
    target="_blank" 
    rel="noreferrer" 
    title="katoDev">
      K@toDev
    </a>
</section>

<style>
.footer {
  height: 12rem;
  color: var(--light-gold);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.footer a {
  background: linear-gradient(165deg, rgb(76, 88, 147), rgb(61, 61, 61), rgb(76, 88, 147));
  margin: 0.5rem;
  border: 1px solid #555;
  font-size: 0.5rem;
}

@media (max-width: 760px) {
  .footer {
    height: 4rem;
  }

  .footer a {
    font-size: 0.5rem;
  }
}
</style>